<a href="https://colab.research.google.com/github/Artur-DesenvolvimentoWEB/Todos_Desafios_Python_DIO/blob/main/Resolvendo_Algoritmos_Com_Python_DIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Desafio 1 - Fibonnacci**

> A seguinte sequência de números 0 1 1 2 3 5 8 13 21... é conhecida como série de Fibonacci. Nessa sequência, cada número, depois dos 2 primeiros, é igual à soma dos 2 anteriores. Escreva um algoritmo que leia um inteiro N (N < 46) e mostre os N primeiros números dessa série.

#Entrada
O arquivo de entrada contém um valor inteiro N (0 < N < 46).

#Saída
Os valores devem ser mostrados na mesma linha, separados por um espaço em branco. Não deve haver espaço após o último valor.

 <table style="width:100%">
  <tr>
    <th>Exemplo de Entrada</th>
    <th>Exemplo de Saída</th>
  </tr>
  <tr>
    <td>6</td>
    <td>0 1 1 2 3</td>
    


</table>

In [ ]:
#@title
n = int(input())
if n > 0 and n < 46:  
  fib_list = [0,1]
  n = n - 1
  for i in range(1,n):
      fib_list.append(fib_list[i-1]+fib_list[i])
  fib_string = ' '.join(map(str,fib_list))
  print(fib_string)

In [ ]:
#@title
n =int(input())
i = 0
t=[]
while i < n:
    if i == 0 or i == 1:
        t.append(i)

    if i > 1:
        aux = t[i-2] +t[i-1]

        t.append(aux)
    i = i + 1
for j in range(0, n):
    t[j] =str(t[j])

t = ' '.join(t)
print(t)

#**Desafio 2 - Exibindo Números Pares**

> Crie um programa que leia um número e mostre os números pares até esse número, inclusive ele mesmo.

#Entrada
####Você receberá 1 valor inteiro **N**, onde **N > 0**.

#Saída

#####Exiba todos os números pares até o valor de entrada, sendo um em cada linha. 

 <table style="width:100%">
  <tr>
    <th>Exemplo de Entrada</th>
    <th>Exemplo de Saída</th>
  </tr>
  <tr>
    <td>6</td>
    <td>2</td>
    
   
  </tr>
  <tr>
    <td></td>
    <td>4</td>
  </tr>

  <tr>
    <td></td>
    <td>6</td>
  </tr>

</table>

In [ ]:
#@title
entrada = int(input())
if entrada > 0:
  for i in range(0,entrada+1):
    if i % 2 == 0 and i != 0:
      print(i)

#**Desafio 2 - Exibindo Números Pares**

> Ramsay: "(...) você vence se conseguir adivinhar quem eu sou e por que estou torturando você." 

>Theon deve pensar rápido e adivinhar quem é seu algoz! Entretanto, Ramsay já decidiu o que ele irá fazer depois que Theon der sua resposta.

>Theon pode dizer que seu algoz é alguma dentre N pessoas. Considere que as pessoas são numeradas de 1 a N. Se Theon responder que seu algoz é a pessoa i, Ramsay irá atingi-lo Ti vezes.

>Sua tarefa é ajudar Theon a determinar qual deve ser sua resposta de forma a minimizar o número de vezes que ele será atingido.

#Entrada
#####A primeira linha contém um inteiro N (1 ≤ N ≤ 100). A segunda linha contém N inteiros T1, T2, ..., TN (0 ≤ Ti ≤ 20).

#Saída

#####Imprima uma linha contendo o número da pessoa que Theon deve dizer ser seu algoz. Se existe mais de uma resposta possível, imprima a menor. 

 <table style="width:100%">
  <tr>
    <th>Exemplo de Entrada</th>
    <th>Exemplo de Saída</th>
  </tr>

  <tr>
    <td>3</td>
    <td>2</td>
  </tr>

  <tr>
    <td>8 0 7</td>
    <td></td>
  </tr>

</table> 

 <table style="width:100%">
  <tr>
    <th>Exemplo de Entrada</th>
    <th>Exemplo de Saída</th>
  </tr>

  <tr>
    <td>2</td>
    <td>1</td>
  </tr>

  <tr>
    <td>1 1</td>
    <td></td>
  </tr>
  
</table>

In [ ]:
#@title
N = int(input())
T = [int(num) for num in input().split(' ')]

posicao = 0
for z in range(N):
  if T[posicao] > T[z]:
    posicao = z

print(posicao + 1)